**Задание 1**
​
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [1]:
import numpy as np

In [2]:
N = int(input('Введите целое положительное число N '))
x = np.arange( N )
x = x[::-1]
x

Введите целое положительное число N 10

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

**Задание 2**
​
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [3]:
N = int(input('Введите целое положительное число N '))
diag_sum = 0
for i in range(0,N):
    diag_sum += np.diag(np.arange(N)[::-1], k=0)[i][i]
print(diag_sum)

Введите целое положительное число N 10
45

**Задание 3**
​
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [4]:
import pandas as pd

In [5]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
excellent_ratings = ratings[ (ratings['rating']==5.0) ]
excellent_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13211 entries, 3 to 100834
Data columns (total 4 columns):
userId       13211 non-null int64
movieId      13211 non-null int64
rating       13211 non-null float64
timestamp    13211 non-null int64
dtypes: float64(1), int64(3)
memory usage: 516.1 KB

In [7]:
excellent_ratings.groupby('movieId').count().sort_values('userId', ascending=False).head()

         userId  rating  timestamp
movieId
318         153     153        153
296         123     123        123
356         116     116        116
2571        109     109        109
260         104     104        104

**Задание 4**
​
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [9]:
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ]
filtered_years = filtered_countries[ (filtered_countries['year'] <= 2010) & (2005 <= filtered_countries['year'])]
filtered_categories = filtered_years[ (filtered_years['category']== 4 ) | (filtered_years['category']== 12 ) | (filtered_years['category']== 21 )]

In [10]:
filtered_categories[ (filtered_categories['quantity'] >= 0 ) ]['quantity'].sum()

240580.0

**Задание 5**
​
Решите систему уравнений:
4x + 2y + z = 4
x + 3y = 12
5y + 4z = -3

In [11]:
# коэффициенты при переменных в левой части уравнения
a = np.array( [ [4, 2, 1], [1, 3, 0], [0, 5, 4] ] )

# значения в правой части уравнения
b = np.array( [4, 12, -3] )

In [12]:
from numpy import linalg

In [13]:
linalg.solve(a, b)

array([ 0.46666667,  3.84444444, -5.55555556])

In [14]:
# проверка верности

np.allclose( np.dot(a, linalg.solve(a, b)), b )

True